# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/bin
/dist
/tmp
/out-tsc
/public/css/*
!/public/css/.gitkeep
/public/fonts/*
!/public/fonts/.gitkeep
/public/js/*
!/public/js/.gitkeep
wits

# dependencies
node_modules
vendor

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
cp.out
cp.html
coverage.out
coverage.html
/.task

# System Files
.DS_Store
Thumbs.db

# Environment Files
.env
.env.local
.env.remote

# Ignore local sqlite3 db
wits.db

# Generated go files from Templ
*_templ.go*